*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    width: 100%;
    padding: 2% 5%;
    background-color: gray;
    position: fixed;
    top: 0;
    z-index: 100;
}
.header-left,.header-right{
    display: inline-block;
}
.header-right{
    position: relative;
    left: 5%;
}
.header-right ul{
    list-style: none;
}
.header-right li{
    display: inline-block;
    padding: 10px 20px;
}
.header-right a{
    color: black;
}
.header-right a:hover{
    color: pink;
}
.main{
    padding: 50px 100px;
    margin-top: 100px;
}
h1{
    font-size: 40px;
    font-weight: normal;
}
h2{
    font-size: 30px;
    font-weight: normal;
}
.prof_list{
    list-style: none;
    display: inline-block;
}
.prof_list span{
    color: green;
}
.prof_img{
    width: 100%;
    display: inline-block;
}
.list_name{
    font-size: 25px;
    padding: 8px 0;
}
.list_content{
    padding: 8px 20px;
    font-size: 18px;
}
.btn-PF{
    background-color: grey;
    padding: 3px;
    border-radius: 5px;
    opacity: 0.5;
    color:white;
    box-shadow: 0 3px black ;
}
.btn-PF:active{
    box-shadow: none;
    position: relative;
    top: 3px;
}
.profile{
    border: 1px solid #faabca;
    padding: 30px 100px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
#contact{
    width: 500px;
    padding-top: 10%;
}
input{
    width: 60%;
    height: 30px;
}
textarea{
    width: 100%;
    height: 200px;
}
img{
    width: 45%;
    height: auto;
    position: absolute;
    right: 5%;
    top: 5%;
}
@media screen and (min-width: 671px) and (max-width: 999px) {
    .header{
        width: 100%;
        padding: 2% 5%;
        background-color: gray;
        position: fixed;
        top: 0;
        z-index: 100;
    }
    .header-left,.header-right{
        display: inline-block;
    }
    img{
        width: 55%;
        height: auto;
        top: 10%;
        right: 20%;
    }
    .profile{
        margin: 0 auto;
        height: 800px;
    }
    .prof_list{
        margin-top: 200px;
    }
    #contact{
        padding-top: 10%;
    }
}

@media screen and (max-width: 670px) { 
    .header-left,.header-right{
        display: inline-block;
    }
    img{
        width: 80%;
        height: auto;
        top:15%;
        right: 10%;
    }
    .prof_list{
        margin-top: 260px;
        padding-top: 50px;
    }
    #contact{
        width: 90%;
        padding-top: 10%;
    }
}
.top{
    text-align: center;
    padding-top: 100px;
}
.push{
    padding: 5px 30px;
    background-color: cadetblue;
    color: white;
    opacity: 0.6;
    border-radius: 10px;
    box-shadow: 0 3px black;
}
.push:hover{
    opacity: 0.8;
}
.push:active{
    box-shadow: none;
    position: relative;
    top: 3px;
}