*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100px;
    padding: 20px 50px;
    background-color: gray;
    position: fixed;
    top: 0;
    z-index: 100;
}
.header-left{
    float: left;
    display: inline-block;
}
.header-right{
    float: right;
    display:inline-block;
}
.header-right ul{
    list-style: none;
}
.header-right li{
    display: inline-block;
    padding: 10px 20px;
}
.header-right a{
    color: black;
}
.header-right a:hover{
    color: pink;
}
.main{
    padding: 50px 100px;
    margin-top: 100px;
}
h1{
    font-size: 40px;
    font-weight: normal;
}
h2{
    font-size: 30px;
    font-weight: normal;
}
.prof_list{
    list-style: none;
    display: inline-block;
}
.list_name{
    font-size: 25px;
    padding: 8px 0;
}
.list_content{
    padding: 8px 20px;
    font-size: 18px;
}
.profile{
    border: 1px solid #faabca;
    width: 80%;
    padding: 30px 100px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
#contact{
    padding: 50px 100px;
}
.contact-box{
    width: 80%;
    padding: 30px 100px;
}
input{
    width: 200px;
    height: 30px;
}
textarea{
    width: 400px;
    height: 200px;
}
img{
    width: 45%;
    height: 45%;
    position: absolute;
    right: 5%;
    top: 5%;
    display: inline-block;
}
@media screen and (min-width: 700px) and (max-width: 999px) {
    img{
        width: 60%;
        height: 250px;
        top: 30px;
        right: 20%;
    }
    .profile{
        margin: 0 auto;
        height: 800px;
    }
    .prof_list{
        padding-top: 250px;
    }
    #contact{
        padding: 10% 20%;
    }
    .content-box{
        padding: 10% 20%;
    }
}

@media screen and (max-width: 699px) { 
    img{
        width: 80%;
        height: 162px;
        top:5%;
        right: 10%;
    }
    .profile{
        height: 1000px;
    }
    .prof_list{
        padding-top: 300px;
    }
}
.top{
    text-align: center;
}
.push{
    width:200px;
    height: 30px;
    background-color: cadetblue;
    color: white;
    opacity: 0.6;
}
.push:hover{
    opacity: 0.8;
}