*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    width: 100%;
    padding: 2% 5%;
    background-color: gray;
    position: fixed;
    top: 0;
    z-index: 100;
}
.header ul{
    list-style: none;
}
.header h1{
    display: block;
}
.header nav{
    display: flex;
}
.header a{
    color: black;
    margin-right: 15px;
}
.header a:hover{
    color: pink;
}
.main{
    padding: 7% 7%;
    margin-top: 100px;
}
h1{
    font-size: 40px;
    font-weight: normal;
}
h2{
    font-size: 30px;
    font-weight: normal;
}
.prof_list{
    list-style: none;
    width: 100%;
}
.prof_list span{
    color: green;
}
.prof_img{
    width: 100%;
}
.list_name{
    font-size: 25px;
    padding: 8px 0;
}
.list_content{
    padding: 4% 6%;
    font-size: 18px;
}
.btn-PF{
    background-color:rgba(128, 128, 128,0.8);
    padding: 1%;
    border-radius: 3px;
    color:white;
    box-shadow: 0 3px black ;
}
.btn-PF:hover{
    color: pink;
}
.btn-PF:active{
    box-shadow: none;
    position: relative;
    top: 3px;
}
.profile{
    border: 1px solid #faabca;
    padding: 3% 5%;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
#contact{
    width: 500px;
    padding-top: 10%;
}
input{
    width: 60%;
    height: 30px;
}
textarea{
    width: 100%;
    height: 200px;
}
img{
    width: 100%;
    height: auto;
}
@media screen and (min-width: 671px) and (max-width: 999px) {
    .header{
        width: 100%;
        padding: 2% 5%;
        background-color: gray;
        position: fixed;
        top: 0;
        z-index: 100;
    }
    img{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .main{
        margin-top: 100px;
    }
    .profile{
        margin: 0 auto;
    }

    #contact{
        padding-top: 10%;
    }
}

@media screen and (max-width: 670px) {
    .main{
        margin-top: 100px;
    }
    img{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    #contact{
        width: 90%;
        padding-top: 10%;
        margin: 0 auto;
    }
}
.top{
    text-align: center;
    padding-top: 100px;
}
.push{
    padding: 5px 30px;
    background-color: cadetblue;
    color: white;
    opacity: 0.6;
    border-radius: 10px;
    box-shadow: 0 3px black;
}
.push:hover{
    opacity: 0.8;
}
.push:active{
    box-shadow: none;
    position: relative;
    top: 3px;
}