<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="header">
        <div class="header-left">
            <h1>Profile</h1>
        </div>
        <div class="header-right">
            <nav>
                <ul>
                    <li><a href="./top.html">top</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#contact">contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="main">
        <div class="profile">
            <h2>自己紹介</h2>
            <ul class="prof_list">
                <li>
                    <div class="list_name">名前</div>
                    <div class="list_content">S.H</div>
                </li>
                <li>
                    <div class="list_name">生年月日</div>
                    <div class="list_content">1996年09月21日</div>
                </li>
                <li>
                    <div class="list_name">好きなもの</div>
                    <div class="list_content">漫画/Youtube/爬虫類/スノボ/</div>
                </li>
                <li>
                    <div class="list_name">学んだことのある言語</div>
                    <div class="list_content">HTML CSS Ruby RubyOnRails JavaScript AWS </div>
                </li>
                <li>
                    <div class="list_name">ポートフォリオ</div>
                    <div class="list_content"><a class="btn-PF" href="http://reptileblog.work/"><span class="fas fa-frog"></span> 爬虫類ブログ</a></div>
                </li>
            </ul>
            <div class="prof_img">
                <img src="../img/reptile.jpg" alt="">
            </div>
        </div>


        <div id="contact">
            <h2>問い合わせ</h2>
            <div class="contact-box">
                <p>名前(必須)</p>
                <input>
                <p>問い合わせ内容(必須)</p>
                <textarea></textarea>
                <p>※必須項目をすべて入力してください</p>
                <input type="submit" value="送信">
            </div>
        </div>
    </div>

</body>
</html>